/* CSS talk bubble */
.talkBubbleAi {
	position: relative;
	margin-left: 20px;
	margin-top: 40px;
	min-height: 50px;
	margin-right: 10px;
  	display: inline-flex;	
	align-items: center;
	padding: 0.5em;
}

.talkBubbleUser {
  	display: inline-block;
  	position: relative;
}

/*Right triangle, placed bottom left side slightly in*/
.triRightOnLeftSide::before{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -22px;
  right: auto;
  top: 14px;
	bottom: auto;
	border: 11px solid;
	border-color: #666 #666 transparent transparent;
}
.triRightOnLeftSide::after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -20px;
  right: auto;
  top: 15px;
	bottom: auto;
	border: 10px solid;
	border-color: white white transparent transparent;
}

.triRightOnRightSide::before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: -24px;
  left: auto;
  top: 10px;
	bottom: auto;
	border: 12px solid;
	border-color: #666 transparent transparent #666;
}

.triRightOnRightSide::after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
  right: -22px;
  top: 11px;
	bottom: auto;
	border: 12px solid;
	border-color: white  transparent transparent white;
}

@keyframes dot-animation {
	0%{
		transform: translateY(0);
	}
    25% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(0);
    }
	75% {
		transform: translateY(2px)
	}
    100% {
        transform: translateY(0);
    }
}

.loadingAnimation {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black;
    margin: 0 5px; /* Adjust spacing between dots */
    animation: dot-animation 0.7s infinite linear;
}

.dot1_delay {
    animation-delay: 0 !important; /* Delay for first dot */
}

.dot2_delay {
    animation-delay: 0.2s !important; /* Delay for second dot */
}

.dot3_delay {
    animation-delay: 0.4s !important; /* Delay for third dot */
}











